<div class="container color">
  <h1 onclick="window.location.href = '/getTree';">
    Museum
  </h1>
  <div *ngIf="!editMode" class="row">
    <div class="col-md-4">
      <app-tree>
      </app-tree>
    </div>
    <div class="col-md-8">
      <app-collections>
      </app-collections>
    </div>
  </div>
  <div *ngIf="editMode">
    <div class="row" style="margin-top: 20px">
      <div class="col-md-5">
        <div class="row">
          <label class="ml-12">Title</label>
        </div>
        <div>
          <input class="inputName" [(ngModel)]="service.collection.name" />
        </div>
        <div>
          <div class="row">
            <label class="ml-12">Image URL</label>
          </div>
          <input class="inputUrl" [(ngModel)]="service.collection.url" />
        </div>
        <div>
          <div class="row">
            <label class="ml-12">Description</label>
          </div>
          <textarea class="txtAreaDesc" [(ngModel)]="service.collection.description"></textarea>
        </div>
        <div style="margin-top: 30px;">
          <button (click)="saveEditCollection(service.collection)" type="button" class="btn btn-primary">Save</button>
          <button (click)="previewEditCollection(service.collection)" style="margin-left: 10px;" type="button"
            class="btn btn-outline-secondary">Preview</button>
        </div>
      </div>
      <div class="col-md-7 line">
        <div *ngIf="previewMode">
          <div class="ml-30">
            <img class="images center" src={{service.collection.url}} />
            <div class="mt-40">
              <h3>{{service.collection.name}}</h3>
            </div>
            <p>{{service.collection.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>